{% load static %}
<nav class="relative flex items-center justify-between container h-full m-auto text-white">
  <div class="flex justify-center items-center">
    <a href="#" class="h-[50px] w-[50px] overflow-hidden rounded-md"><img src="{% static 'images/logo-pu.jpeg' %}" class="w-full h-full object-cover" alt="logo" /></a>
    <div class="flex flex-col ml-1.5">
      <span class="block text-base font-semibold">Balai Wilayah Sungai Papua Barat</span>
      <span class="block text-[12px] font-medium">Direktorat Jenderal Sumber Daya Air</span>
      <span class="block text-[12px] font-medium">Kementerian Pekerjaan Umum</span>
    </div>
  </div>
  <div class="flex flex-col items-start lg:flex-row lg:items-center lg:gap-6">
    <ul class="flex flex-col gap-6 lg:flex-row font-medium">
      <li class="py-5">
        <a href="/" class="{% if page_name == 'indexHomePage' %} link-active {% endif %}">Beranda</a>
      </li>
      <li class="group py-5">
        <a href="" class="dropdown-menu-icon">Data Teknis</a>
        <ul class="dropdown-menu">
          <li>
            <a href="{% url 'petaDI' %}" class="py-2 sub-menu-link menu-hover">Peta D.I</a>
          </li>

          {% comment %}Sumber Air Irigasi{% endcomment %}
          <li class="relative group/sub">
            <a href="" class="w-full flex justify-between sub-menu-icon menu-hover sub-menu-link">Sumber Air D.I.</a>
            {% comment %}sub-sub menu{% endcomment %}
            <ul class="dropdown-sub-menu">
              <li class="">
                <a href="" class="sub-menu-link menu-hover">Bendung</a>
              </li>
              <li class="">
                <a href="" class="sub-menu-link menu-hover">Embung</a>
              </li>
              <li class="w-auto">
                <a href="" class="sub-menu-link menu-hover">Ketersediaan Air</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="" class="py-2 sub-menu-link menu-hover">Skema</a>
          </li>
          <li>
            <a href="" class="py-2 sub-menu-link menu-hover">Jaringan Irigasi Utama</a>
          </li>
          <li>
            <a href="" class="py-2 sub-menu-link menu-hover">Petuas OP</a>
          </li>
        </ul>
      </li>
      <li class="group py-5">
        <a href="" class="dropdown-menu-icon">P3A</a>
        <ul class="dropdown-menu">
          <li>
            <a href="" class="py-2 sub-menu-link menu-hover">Daftar IP3A/GP3A/P3A</a>
          </li>
          <li>
            <a href="" class="py-2 sub-menu-link menu-hover">Wilayah Kerja IP3A/GP3A/P3A</a>
          </li>
        </ul>
      </li>
      <li class="group py-5">
        <a href="" class="dropdown-menu-icon">Masa Tanam</a>
        <ul class="dropdown-menu">
          <li>
            <a href="" class="py-2 sub-menu-link menu-hover">Produktivitas Padi</a>
          </li>
          <li>
            <a href="" class="py-2 sub-menu-link menu-hover">Realisasi Luas Masa Tanam</a>
          </li>
        </ul>
      </li>
      <li class="group py-5">
        <a href="{% url 'indexMonitoringPage' %}" class="px-3 py-2 {% if page_name == 'indexMonitoringPage' %} link-active {% endif %}">Monitoring</a>
      </li>
    </ul>
    <a href="" class="py-2 px-4 bg-accent-color rounded-md font-semibold text-black hover:bg-accent-color/70 hover:text-white transition-all ease-in-out duration-200">Login</a>
  </div>
</nav>
