@import "tailwindcss";

@theme {
  --color-primary-color: #12223b;
  --color-secondary-color: #e9f7fe;
  --color-header-color: #213271;
  /* --color-accent-color: #ffc800; */
  --color-accent-color: #fdb813;
  --color-body-color: #f5f6f8;
  --font-dm-sans: "DM Sans", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --font-font-awesome: "FontAwesome";
}

@layer base {
  p {
    @apply text-base;
  }
}

@layer components {
  .card {
    @apply bg-white  rounded-lg overflow-hidden shadow-lg outline-1 outline-gray-200;
  }

  .card-header {
    @apply px-6 py-5;
  }

  .card-title {
    @apply text-xl font-semibold;
  }

  .card-body {
    @apply px-6 py-6;
  }

  .card-footer {
    @apply px-6 py-5;
  }

  .link-active {
    @apply text-accent-color font-bold;
  }

  .dropdown-menu {
    @apply flex flex-col absolute font-medium bg-accent-color py-3 rounded-md invisible mt-4 group-hover:visible opacity-0 translate-y-[-10px] scale-y-75 origin-top transition-all duration-300 ease-out group-hover:opacity-100 group-hover:translate-y-0 group-hover:scale-y-100;
  }
  .dropdown-menu-icon {
    @apply after:content-['\f107'] after:font-font-awesome after:font-medium after:text-base after:ml-2;
  }
  .sub-menu-icon {
    @apply after:content-['\f105'] after:font-font-awesome after:font-medium after:text-base;
  }
  .menu-hover {
    @apply hover:text-primary-color hover:font-bold;
  }

  .sub-menu-link {
    @apply inline-block py-1 px-4 transition duration-200 hover:translate-x-1 whitespace-nowrap;
  }

  .dropdown-sub-menu {
    @apply absolute left-full ml-0.5 mt-0 top-0 bg-accent-color rounded-md py-3 w-auto inline-block transition-all translate-y-[20px] duration-500 ease-out opacity-0 group-hover/sub:opacity-100 group-hover/sub:translate-y-0;
  }
}
