@import "tailwindcss";

@theme {
  --color-primary-color: #12223b;
  --color-secondary-color: #e9f7fe;
  --color-header-color: #213271;
  /* --color-accent-color: #ffc800; */
  --color-accent-color: #fdb813;
  --color-body-color: #f5f6f8;
  --font-dm-sans: "DM Sans", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --font-font-awesome: "FontAwesome";
}

@layer base {
  p {
    @apply text-base;
  }

  table {
    @apply w-full text-sm text-left rtl:text-right text-gray-500;
  }
  thead {
    @apply text-sm;
  }

  th,
  td {
    @apply px-6 py-2 text-center whitespace-nowrap;
  }
  tbody > tr {
    @apply border-b border-gray-200 odd:bg-white even:bg-gray-200;
  }
}

@layer components {
  .card {
    @apply bg-white  rounded-lg overflow-hidden shadow-lg outline-1 outline-gray-200;
  }

  .card-header {
    @apply px-6 py-5;
  }

  .card-title {
    @apply text-xl font-semibold;
  }

  .card-body {
    @apply px-6 py-6;
  }

  .card-footer {
    @apply px-6 py-5;
  }

  /* jika halaman aktif maka ini akan di implementasikan */
  .link-active {
    @apply lg:text-accent-color;
  }

  /* berada pada elemen li pada menu utama di luar dropdown */
  .nav-menu {
    @apply relative;
  }

  /* berada pada elemen a atau elemen div yang dibungkus pada menu bar utama */
  .nav-link {
    @apply flex items-center p-4 cursor-pointer transition-all duration-300 ease-in-out group-hover:text-accent-color;
  }

  /* untuk element li yang berada pada dropdown level 1 dan level 2 */
  .nav-submenu {
    @apply relative p-0 m-0;
  }

  /* untuk element a yang berada dalam dropdown level 1 dan level 2 */
  .nav-submenu-link {
    @apply px-5 py-2 block w-full transition-all duration-300 ease-in-out hover:text-primary-color hover:pl-6;
  }

  /* card drowdown menu hover*/
  .dropdown-menu {
    @apply invisible opacity-0 scale-y-75 origin-top p-0 m-0 w-[250px] rounded-2xl absolute left-0 top-full  bg-accent-color transition-all duration-300 ease-in-out text-left block z-50;
  }

  /* dropdown menu hover berada pada sub menu  level 1 */
  .dropdown-menu-hover {
    @apply group-hover:opacity-100 group-hover:scale-y-100 group-hover:visible group-hover:py-1;
  }

  /* dropdown menu hover berada pada sub menu level 2*/
  .dropdown-submenu-hover {
    @apply ml-1.5 top-0 left-full group-hover/sub:opacity-100 group-hover/sub:scale-y-100 group-hover/sub:visible group-hover/sub:py-1;
  }

  /* untuk submenu dopdown yang ada icon */
  .sub-menu {
    @apply flex justify-between items-center;
  }

  /* dropdown menu mobile */
  .menu-mobile {
    @apply absolute invisible top-[80px] bg-accent-color left-0 w-full font-manrope font-medium py-1.5 origin-top scale-y-75 opacity-0 transition-all duration-300 z-50;
  }

  .nav-menu-link-mobile {
    @apply flex px-4 py-2.5 justify-between cursor-pointer transition-all duration-300 ease-in-out;
  }
  .nav-submenu-link-mobile {
    @apply flex px-4 py-2.5 justify-between cursor-pointer;
  }

  .dropdown-menu-mobile {
    @apply absolute invisible origin-top opacity-0  scale-y-75;
  }

  .menu-open {
    @apply relative visible block opacity-100 scale-y-100 transition-all ease-in-out duration-300;
  }
}
