{% extends '_base.html' %}

{% block content %}
  <section class="max-w-6xl w-full lg:container mx-auto">
    <h3 class="text-lg text-accent-color font-bold tracking-wider text-center uppercase">Data Skema</h3>

    <div class="max-w-6xl mt-7 mx-auto flex justify-center flex-wrap gap-6">
      {% for item in data %}
        <div class="card w-80 rounded-lg overflow-hidden shadow-lg">
          <div class="card-body p-0 w-full">
            {% comment %}===== Image card ====={% endcomment %}
            <div class="w-full h-full">
              <img src="{{ item.preview_skema.url }}" class="w-full h-full object-cover" alt="" />
            </div>
            {% comment %}===== Ketenanga ====={% endcomment %}
            <div class="p-4 flex flex-col w-full">
              <h3 class="text-primary-color font-medium">{{ item.nama_dokumen|title }} | {{ item.th }}</h3>
              <p class="text-primary-color/75">Terakhir Update : {{ item.created_at }}</p>
              <p class="text-primary-color/75">{{ item.jenis_skema_id }}</p>
              <p class="text-primary-color/75">{{ item.daerah_irigasi_id }}</p>
              <a href="{{ item.file_skema.url }}" class="px-5 py-2 w-fit bg-secondary-color font-medium mt-2 rounded-2xl overflow-hidden transition-all duration-200 ease-in-out hover:bg-primary-color hover:text-white">Unduh File</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
